<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion</title>
</head>
<body>
    <header class="header">
        <div class="menu content">
            <ul>
                <li><a href="">Spotify v1</a></li>
                <li><a href="">Spotify v2</a></li>
                <li><a href="">Spotify v3</a></li>
                <li><a href="">Spotify v4</a></li>
                <li><a href="">Spotify v5</a></li>
                <li><a href="">Disney v1</a></li>
                <li><a href="">Max family</a></li>
                <li><a href="">Max v1</a></li>

            </ul>
        </div>
    </header>

    
</body>
</html>