<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros</title>
    <link rel="stylesheet" href="/public/css/Registros.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>MySubs</h1>
            <nav>
                <ul>
                    <li><a href="#" class="active" id="clientesTotales">Clientes Totales</a></li>
                    <li><a href="#" data-tabla="spotify">Spotify</a></li>
                    <li><a href="#" data-tabla="max">Max</a></li>
                    <li><a href="#" data-tabla="disney">Disney</a></li>
                    <li><a href="#" data-tabla="netflix">Netflix</a></li>
                    <li><a href="#" data-tabla="hbo">HBO</a></li>
                </ul>
            </nav>
        </header>
        
        <main>
            <h2>Clientes Totales</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Domicilio</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tablaUsuarios">
                    <!-- Los usuarios se cargarán aquí dinámicamente -->
                </tbody>
            </table>
        </main>
        <br>
        <a href="index.html" class="text-white underline">Volver al Inicio</a>
    </div>
    <script src="/public/js/usuarios.js"></script>
</body>
</html>
