@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(Fondos\ de\ escritorio.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display:flex;
        align-items: center;

}
.menu{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;


}

.menu .navbar ul li {
    position: relative;
    float: left;

}
.menu .navbar ul li a {
    font-size: 18px;
    padding:20px;
    color: #FFFDFC;
    display:block;
    font-weight: 600;
   
}
.menu .navbar ul li a:hover{
    color: #CE976B;
}
#menu {
    display: none;
    
}
.menu-icono {
    width: 25px;

}
.menu label{
    cursor:pointer;
    display: none;
}
.header-content {
    text-align: center;

}
.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color:#F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content{
    font-size: 16px;
    color:#c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
    display:inline-block;
    padding: 11px 35px;
    background-color: #303F9F;
    color: #F9FAFC;
    text-transform: uppercase;
}
.btn-1:hover{
    background-color: #303F9F;
}


.multiplataformas{
    padding: 100px 0;
    background-color: #F9FAFC;
    position: relative;
}

.multiplataformas-content{
    text-align: center;
}
.multiplataformas-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 25px;
    margin-bottom: 35px;

}

.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}
.multiplataformas-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.multiplataformas-1{
    padding: 0 25px;
}
.multiplataformas-1 img {
    width: 200px;

}
.multiplataformas-img{
    position: absolute;
    top:0;
    right: 0;
    width: 450px;
    margin-top: 240px;
    
}
.multiplataformas-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;

}
.services {
    background-image: linear-gradient(
        rgba(blue),
        rgba(0, 0, 0.7)),
        url(max.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}
.service-content{
    text-align: center;
}
.service-content h2{
    font-size: 55px;
    line-height: 70px;
    color:#F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px
}
.service-content p{
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.service-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}
.service-1{
    padding: 0 100px;
}
.service-1 img {
    width: 25px;
    margin-bottom: 15px;
    
}
.service-1 h3{
    color:#EACCB3;
    font-size: 18px;
}
.general {
    display:flex;

}
.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;

}
.general-2{
    background-image: url(max.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}